body {
    background: linear-gradient(180deg, rgb(1, 115, 168,0.9), rgb(255, 243, 243,0.1) 100%);
    width: 100%;
    height: 1200px;
    overflow-x: hidden;

}
:root{
    --imageBorder:   2%   ;
    --imageBorder2: 50% ;
}

/* 
Start Styling for the Heading */
header h1 {
    color: rgb(154, 213, 240);
    text-align: center;
    font-size: 5vh;
}

/* Start Styling for the Heading */

/* Start animatin for cardWrapper */
.cardWrapper {

    position: relative;
    margin: auto;
    width: 700px;
    height: 1000px;
    border-radius: 20px;
    border: 1px solid blanchedalmond;
    background: linear-gradient(180deg, rgb(44, 151, 201), rgb(255, 243, 243) 90%);
}

.cardGlow::before,
.cardGlow::after {
    content: "";
    position: absolute;
    left: -3px;
    top: -3px;
    background: linear-gradient(45deg, #7effff, #ff6600, #00ff66, #2041ff, #ffffff, #ff0099, #6e0dd0, #ff3300ab, #099fff);
    background-size: 400%;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    z-index: -1;
    border-radius: 20px    ;
    animation: cardAnimation 30s linear infinite forwards;
}

@keyframes cardAnimation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 400%;
    }
}

.cardGlow::after {
    filter: blur(30px);
}

/* End animation for cardWrapper */

.cardInformation {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;

}

/* Start Image Css */
.image {
    position: relative;
    width: 100%;
    height: 700px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Start image Logo */
.imgLogo {
    height: 100px;
    padding-right: 40px;
    margin-top: 20px;
}

.imgLogo img {
    height: 100%;
}

/* End image Logo */



/* Start image wrapper */
.imgWrapper {
    position: relative;
    height: 450px;
    width: 100%;
    padding-top: 30px;

}

.imgWrapperAni {
    position: relative;
    height: 380px;
    width: 380px;
    margin: 0 auto;
    background: rgb(255, 255, 255);
    overflow: hidden;
    animation: avaAni 6s 2s linear infinite ;
}

@keyframes avaAni{
    0%{
        border-radius: var(--imageBorder);
    }
    25%{
        border-radius: var(--imageBorder2);
    }
    50%{
        border-radius: var(--imageBorder2);
    }
    75%{
        border-radius: var(--imageBorder2);
    }
    100%{
        border-radius: var(--imageBorder);
    }
} 

.imgWrapperAni::before {
    content: '';
    position: absolute;
    inset: -90px 90px;
    background: linear-gradient(315deg, #00e1ff, #006eff);
    transition: 0.5s;
    animation: animate 2.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.imgWrapperAni::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: rgb(87, 168, 206);
    animation: avaAni 6s 2s linear infinite ;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 16px;
    border: 4px solid white;
    z-index: 2;
    animation: avaAni 6s 2s linear infinite ;

}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    animation: avaAni 6s 2s linear infinite ;
}

/* End image wrapper */


/* Start Name Css */
.imgName {
    position: relative;
    height: 150px;
    width: 100%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  
}

.imgName span {
    font-size: 60px;
    margin-left: 10px;
}
.imgName h1{
    line-height: 0.01;
    font-size: 30px;
}
/* End Name Css */
/* End Image Css */

/* Start Information css */
.detail {
    position: absolute;
    height: 300px;
    width: 85%;
    bottom: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

}

.detailInfor{
    font-size: 12px;
    line-height: 1;
}

.detailContact{
    padding-top: 10px;
}
.detailContactWrapper{
background: #1da7fc86;
border-radius: 20px;
height: 40px;
margin: auto;
width: 80%;
box-shadow: 2px 2px 2px black;
}

.detailContactWrapper h2{
    font-size: 24px;
}
/* End Information css */